<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-list no-lines>

		<form [formGroup]="myForm" (change)="testValues()">

		  <ion-item>
		    <ion-label stacked>Name</ion-label>
		    <ion-input formControlName="name" type="text"></ion-input>
		  </ion-item>

		  <ion-item>
		    <ion-label stacked>Comment</ion-label>
		    <ion-textarea formControlName="comment" type="text"></ion-textarea>
      </ion-item>
      
      <ion-item>
        <app-random-input formControlName="random"></app-random-input>
      </ion-item>

		</form>

  </ion-list>

  <ion-button (click)="changeValue()">Change Value</ion-button>
  <ion-button (click)="checkValues()">Check Values</ion-button>
  
</ion-content>
